.svl-demo-select-wrap .loading-demos {
    color: #fff;
    font-size: 20px
}

.svl-demo-select-wrap {
    width: 350px;
    height: 100%;
    background-color: #2b2b2b;
    position: fixed;
    right: -350px;
    top: 0;
    z-index: 9000;
    text-align: center
}

.svl-demo-select-wrap .buy-now-btn {
    padding: 60px 20px 30px
}

.svl-demo-select-wrap span {
    color: #fff;
    padding: 9px;
    display: block
}

.svl-demo-select-wrap .buy-now-btn a {
    text-decoration: none !important;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 18px;
    box-shadow: 0 2px 0 #6f9a37;
    background-color: #82b440;
    border-radius: 4px;
    padding: 5px 20px;
    text-align: center;
    width: 100%;
    color: #fff !important;
    display: block
}

.svl-demo-select-wrap .buy-now-btn a:hover {
    opacity: .8
}

.svl-demo-window {
    height: 100%
}

.svl-demo-window ul {
    margin: 0 -50px 0 0;
    list-style: none;
    padding: 0 55px 0 5px;
    height: 200px;
    overflow-y: scroll
}

.svl-demo-window ul li {
    padding: 5px;
    width: 50%;
    overflow: hidden;
    float: left
}

.svl-demo-window ul li:hover {
    opacity: .5
}

.svl-demo-window ul li img {
    border: 2px solid rgba(255, 255, 255, .2)
}

.svl-demo-toggle {
    background-color: #2b2b2b;
    color: #fff !important;
    font-size: 12px !important;
    height: 60px;
    left: -60px;
    line-height: 20px !important;
    margin-top: -30px;
    position: absolute;
    top: 37%;
    vertical-align: middle;
    width: 60px;
    cursor: pointer
}

.svl-demo-toggle:hover {
    color: #82b440 !important
}

.svl-demo-toggle i {
    font-size: 20px !important
}

.svl-more-demos-text {
    font-size: 13px;
    color: #999 !important
}

.svl-demos {
    margin-left: -15px;
    margin-right: -15px;
    overflow: hidden;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.svl-demos .demo-block {
    text-align: center;
    margin-bottom: 30px
}

.svl-demos .demo-block h4 {
    padding: 14px 0 14px 0;
    font-size: 15px;
    margin-bottom: 0
}

.svl-demos .svl-builder {
    width: 40px;
    display: inline-block;
    position: absolute;
    bottom: 60px;
    right: 15px
}

.svl-demos .new-demo {
    background-color: #fa8322;
    color: #fff;
    font-weight: 400;
    padding: 5px 0;
    position: absolute;
    right: -35px;
    text-align: center;
    top: 9px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 120px
}

.demo-wrap {
    background-color: #fff;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.19);
    position: relative;
    overflow: hidden
}

.demo-wrap .title-link {
    text-decoration: none
}

.demo-wrap:hover {
    background-color: #2b2b2b
}

.svl-coming-soon:hover h4,
.demo-wrap:hover .title-link h4 {
    color: #fff
}

.svl-coming-soon .demo-wrap::after {
    content: "COMING SOON!";
    position: absolute;
    width: 200px;
    height: 50px;
    background-color: #6f9a37;
    left: -50px;
    top: 25px;
    vertical-align: middle;
    padding: 15px;
    color: #fff;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    font-size: 14px;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg)
}

.demo-wrap img {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    width: 100%
}

.demo-wrap .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: -45px;
    background-color: #2b2b2b;
    opacity: 0
}

.demo-wrap .svl-button {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -18px;
    margin-left: -45px
}

.demo-wrap:hover .overlay {
    opacity: 0.7
}

.demo-wrap:hover .svl-button {
    display: inline-block
}

.demos-section .container {
    width: 100%;
    max-width: 1500px;
    padding: 0 30px
}

.svl .demo-wrap::after {
    content: "Coming Soon";
    position: absolute;
    width: 200px;
    height: 50px;
    background-color: #6f9a37;
    left: -50px;
    top: 25px;
    vertical-align: middle;
    padding: 15px;
    color: #fff;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    font-size: 14px;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg)
}
